.artistList{
    flex: 4;

}
.artistListArtist .artistListFollow{
    display: flex;
}
.artistListImg{
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
    object-fit: cover;
    margin-right: 1rem ;
}
.artistListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 1rem ;
}
.artistListView{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #eea3a3;
    color: white;
    cursor: pointer;
    margin-right: 1rem ;
}
.artistListDelete{
    cursor: pointer;
}
.button{
    /*position: absolute;*/
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 2rem;
}
.artistButtton{
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    display: inline-flex;
    width: 120px;
    background-color: #eea3a3;
    color: white;
    padding: 10px 10px;
    font-weight: 600;
    cursor: pointer;
}
