.songList {
  flex: 4;
}
.songListSong {
  display: flex;
}
.songListImg {
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
  object-fit: cover;
  margin-right: 1rem;
}
.songListBtn {
  border: none;
  border-radius: 10px !important;
  padding: 5px 10px !important;
  color: white !important;
  cursor: pointer !important;
  margin-right: 1rem !important;
  text-transform: none !important;
}
.Edit {
  background-color: #3bb077 !important;
}
.songListDelete {
  cursor: pointer;
}
.title {
  font-size: 2rem;
}
.songButtton {
  border: none;
  border-radius: 10px !important;
  font-size: 1rem !important;
  width: 120px !important;
  color: white !important;
  padding: 10px !important;
  font-weight: 700 !important;
  background-color: #eea3a3 !important;
}

.songListArtist span a:hover {
  cursor: pointer;
  color: #eea3a3 !important;
}
.songListArtist span:not(:last-of-type)::after {
  content: ", ";
}
