.newArtist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newArtistForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newArtistItem {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.newArtistItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}
.newArtistLink {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}
.newArtistLink > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}
.newArtistItem > input {
  height: 30px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
.buttonAdd {
  border-radius: 5px !important;
  margin: 30px !important;
  background-color: #ff5f85 !important;
}
.buttonAdd:hover {
  background-color: #fba1b6 !important;
  color: #373b3e;
}
