.newSong {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
}

.newSongForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.newSongItem {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.newSongLink {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}
.newSongLink > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}
.newSongItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newSongItem > input {
  height: 30px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newSongGender > input {
  margin-top: 15px;
}

.newSongGender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newSongSelect {
  height: 70px;
  border-radius: 5px;
}

.buttonAdd {
  border-radius: 5px !important;
  margin: 30px !important;
  background-color: #ff5f85 !important;
}
.buttonAdd:hover,
.buttonStay:hover {
  background-color: #fba1b6 !important;
  color: #373b3e;
}
.buttonStay {
  cursor: pointer;
  border: 1px solid #cccccc !important;
  border-radius: 5px;
  color: white;
}
