@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
.songItem,
.Detail,
.songMoreDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardSong {
  border: 1px solid transparent !important;
  border-radius: 10px !important;
  background-color: #f2f2f255 !important;
  max-width: 100%;
  margin-bottom: 13px;
}
.Detail {
  justify-content: space-between;
  width: 100%;
}
.time {
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 20px !important;
  margin-left: 20px !important;
}
.songFavorite {
  color: #ff4672;
}
.songHeader Typography {
  font-family: "Josefin Sans", sans-serif !important;
}
.songArtist,
.songTitle {
  font-family: "Ubuntu", sans-serif !important;
}
.songTitle {
  font-weight: 200 !important;
}
.moreOption {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
  margin-left: 25px;
  margin-right: 10px;
}
.playBtn {
  position: absolute;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  left: 85px;
  display: none;
  cursor: pointer;
}
.cardSong:hover {
  background-color: #c2c2c3 !important;
}
.cardSong:hover .songFavorite,
.cardSong:hover .time {
  display: none;
}
.cardSong:hover .moreOption,
.cardSong:hover .playBtn {
  display: block;
}
.cardSong:hover .songMedia {
  opacity: 50%;
}
.artist:hover {
  cursor: pointer;
  color: rgba(134, 0, 132, 0.925);
  text-decoration: underline;
}
