.shadowDiv {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
}
.song {
  border-radius: 10px;
}
.song .item {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  background-color: transparent;
  padding-left: 10px;
  margin-bottom: 15px !important;
  border-radius: 10px;
}
.song:nth-child(odd) .item {
  background-color: rgb(247, 246, 246);
}
.song .item .songImg {
  max-width: 60px;
  min-width: 40px;
  border-radius: 5px;
  aspect-ratio: 1;
  margin: 10px 10px 10px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.song .item .songImg img {
  max-width: 60px;
  min-width: 40px;
  height: auto;
  aspect-ratio: 1;
  width: 100%;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}
.artist a {
  color: grey !important;
  text-decoration: none !important;
}
.item .songDetail div:first-of-type {
  font-size: 17px;
}
.item .songDetail .artist span:not(:last-of-type):after,
.artistPopup span:not(:last-of-type):after {
  content: ", ";
  color: gray !important;
}
.item .songDetail .artist span a:hover {
  color: #ff7394 !important;
  text-decoration: none !important;
}
.item .songDetail .trackReleaseDate {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gray;
  @media (max-width: 1200px) {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
.item .songDetail .songTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 33vw;
  max-width: 530px;
}
.item .songDetail .songTitle a {
  color: black !important;
  text-decoration: none !important;
}
.item .songDetail .songTitle .link:hover {
  color: #ff1b50 !important;
}
.item .songDetail .trackDuration,
.songUploadtrackDuration {
  position: absolute;
  top: 33%;
  right: 0;
  transform: translate(0, -65%);
  margin: 15px;
}
