@font-face {
  font-family: vera;
  src: url(./assets/QuicksandMedium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vera;
}

html,
body {
  height: 100vh;
}
html::-webkit-scrollbar {
  display: none;
}
.main {
  display: flex;
  height: 100vh;
}
.header {
  left: 260px;
}
.musicPlayer {
  height: fit-content;
  bottom: 0;
  position: fixed;
  max-width: 100%;
  left: 17vw;
  padding: 2vw 2vw 1vw;
  z-index: 10;
}
.mainscreen {
  margin-top: 6em;
}
::-moz-selection {
  /* Code for Firefox */
  background: #ffbccc;
  color: white;
}

::selection {
  background: #ffbccc;
  color: white;
}
